* {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(252, 196, 124);

}

/* Navbar Opening */

.navbar {
    background-color: rgb(248, 232, 217);
    border-bottom: 2px solid rgb(252, 196, 124);
    box-shadow: 0 2px 20px rgb(253, 124, 124);
    margin-bottom: 30px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 50px;
}

.nav-link {
    font-size: 1rem;
}

.nav-link:hover {
    color: rgb(253, 57, 8);
    font-weight: bold;
}

.navbar-nav {
    margin-right: 100px;
}

.dropdown-item:hover {
    color: rgb(253, 57, 8);
}

.dropdown-item:active {
    color: white;
    background-color: rgb(253, 57, 8);
}

.d-flex.login {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.d-flex.login .btn {
    border: 2px solid rgb(253, 124, 124);
}

.d-flex.login .btn:hover {
    background-color: #dc3545;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 40px;
}

/* Styling untuk Search Bar */
#searchBar {
    background-color: rgb(248, 232, 217);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#searchBar input {
    max-width: 500px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
}

#searchBar button {
    border-radius: 20px;
    font-size: 1rem;
}

#search:focus,
#category:focus,
#sort:focus{
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}

/* Navbar Closing */

/* Section Opening */
section h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.col i {
    color: rgb(227, 227, 40);
}

.col h5 {
    font-weight: 600;
}

section .gambar {
    max-height: 377px;
}

section .card {
    transition: transform 0.3s ease;
}

section .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}


/* foodAdmin.html */
.modal #editTitle:focus,
.modal #editImage:focus,
.modal #editRating:focus,
.modal #editDescription:focus,
.modal #editCategory:focus,
.modal #editUrl:focus {
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}

.container #newTitle:focus,
.container #newImage:focus,
.container #newRating:focus,
.container #newDescription:focus,
.container #newCategory:focus,
.container #newUrl:focus {
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}
/* Footer */

footer {
    position: relative;
    width: 100%;
    background: rgb(242, 239, 233);
    min-height: 100px;
    padding: 20px 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer .sosmed,
footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 0;
}

footer .sosmed li,
footer .menu li {
    list-style: none;
    margin: 0 15px;
}

footer .sosmed li a {
    font-size: 2em;
    color: #050505;
    display: inline-block;
    transition: 0.5s;
}

footer .sosmed li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #030303;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    margin-top: 15px;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .about-section {
        padding: 20px;
    }

    .about-section .btn {
        margin-bottom: 20px;
    }

    .Food-section {
        margin: 20px;
    }

}