body {
    background-image: url(images/page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    object-fit: cover;
    width: 100%;
}

.loginadmin a {
    text-decoration: none;
    color: black;
}

.container #email:focus,
.container #password:focus,
.container #username:focus,
.container #passwordConfirm:focus {
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}